/* ------------------------
   Typography (and primary body style)
------------------------ */

html {
	font: 14px/24px $defaultfont;

}

body {
	color: $defaultcolor;
	font: 14px/24px $defaultfont;
	font-weight: $light;
	line-height: 1.9em;
	min-width: 320px;
	text-align:center;
	@include customfont();

}

p {
	margin: 0 0 1em;
}

ul, ol, dl {

}

li {

}


h1 {
	font-family: $secondaryFont;
	font-weight: $regular;
}

h2, h3, h4, h5, h6 {
	font-family: $primaryFont;
	font-weight: $regular;
}

h2, h3, h4, h5, h6 {
	font-weight: $regular;
	margin-bottom: 1.5rem;
	line-height: 100%;
	margin-top: 45px;
}

.hdng {
	font-family: $primaryFont;
}

h2 {
	font-size: 22px;
	@include media($desktop) {
		font-size: 33px;
	}
}

h3 {
	font-size: 20px;
	@include media($desktop) {
		font-size: 22px;
	}
}

h4 {
	font-size: 18px;
	@include media($desktop) {
		font-size: 20px;
	}
}

h5, h6 {
	font-size: 17px;
	@include media($desktop) {
		font-size: 18px;
	}
}

a {
	color: $primaryColor;
	transition: all .3s ease;
}


blockquote {
	font-family: $highlightFont;
	font-style: italic;
	@include media($desktop) {
		@include font(25px, 110%)
	}
	footer {
		font-style: normal;
	}
}

section,
main,
.contain {
	// padding: 0 20px;
	// @include media($desktop) {
	// 	padding: 0  calc(40px + (50% - (#{$desktop} / 2)));
	// }
	@include contain;
}
.is--device {
	section,
	main,
	.contain {
		@include media($desktop) {
			padding: 0 20px;
		}
	}
}


/* ***************************************** */
/* --------------- Layouts ----------------- */
/* ***************************************** */


/* -----------------------
	Basic layout
----------------------- */

.container, .container-full { position: relative; }

.container {
	max-width: $desktop;
	margin: 0 auto;
	text-align: left;
}



/* ------------------------
	Header
------------------------ */

@import 'header';

/* ------------------------
	Nav
------------------------ */

@import 'menu_touch';
@import 'menu_hover';

/* ------------------------
	Content
------------------------ */

@import 'content';

/* ------------------------
	Aside
------------------------ */

@import 'sidebar';

/* ------------------------
	Footer Layout
------------------------ */

@import 'footer';

/* ------------------------
	Forms & Form Elements
------------------------ */

@import 'contact';

/* ***************************************** */
/* ---------- Specific Templates ----------- */
/* ***************************************** */

/* ------------------------
	Home Page
------------------------ */

@import 'front';

/* ------------------------
	Blog/Category/Archives
------------------------ */

@import 'blog';

/* ------------------------
	Gallery
------------------------ */

@import 'gallery';

/* ------------------------
	Random Internal Pages
------------------------ */

@import 'dosomething';
