.blog,
.tmpl_type_category,
.tmpl_type_archive,
.from-blog {

	.content {
		.wp-caption {
			padding-top:0px;
			border-radius: 0px;

			.wp-caption-text {
				padding:10px;
				font-size: 13px;
			}
		}
	}
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		@include media($desktop) {
			@include font(40px, 120%);
		}
		a {
			text-decoration: none;
			color: $darkColor;
		}
	}
	.post-snippet {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;

		@include media($tablet) {
			margin-bottom: 70px;
			flex-direction: row;
		}
		
		.thumb {
			display: none;
			width: 152px;
			border: 1px solid $lightColor;
			@include media($tablet) {
				display: block;
				float: left;
				margin-right: 30px;
			}
		}
		.excerpt {
				
			padding-left: 20px;

			h2.blog-title a  {
				color: $primaryColor;
			}

			h2.blog-title   {
				margin-bottom: 20px;

				@include media($desktop) {
					font-size: 33px;
					line-height: 33px;
				}	
			}
			
			.para a {
				text-decoration: none !important;
				color: $darkColor;

				span {
					text-decoration: underline;
					font-weight: bold;
					color: $primaryColor;
				}
			}

			p {
				margin-top: 0;

			}
		}
	}
	.date {
		@include font(21px);
		text-transform: uppercase;
		color: $primaryColor;
		text-align: right;
	}
	.meta-data {
		margin-bottom: 10px;
		color: $secondaryColor;
		font-weight: bold;
		line-height: 16px;
		a {
			color: $secondaryColor;
		}
	}
	.button {
		text-decoration: none;
		clear: both;
	}

	.next-prev {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;


		a {
			text-decoration: none;
			// margin-right: 20px;
			margin-bottom: 15px;
			width: 100%;
			@include media($tablet) {
				width: auto;
			}

		}
		i {
			color: $primaryColor;
		}
	}

	// Fixes older blog posts 

	.wp-caption.alignright,
	.wp-caption.alignleft {
		float: none;
		margin: 20px auto;
	}
}

.tmpl_type_single {
	.button {
		text-decoration: none;
	}
}


.search-bar {

	

	background-color: $tertiaryColor;
	border-bottom: 2px solid $tertiaryColor;
	background-color: rgba($tertiaryColor, .2);
	@include media($tablet) {
		// display: flex;
		display:none;
		// justify-content: space-around;
		align-items: center;
	}
	> div {
		@include media($tablet) {
			width: 220px;
			
		}

	}
	form {
		display: flex;
	}
	.search-input {
		height: 40px;
		border: 1px solid $tertiaryColor;
		margin-right: 10px;
	}
	.button {
		padding:0 15px;
		height: 40px;
		border: 1px solid $tertiaryColor;
		line-height: 20px;
	}

	.search-form {
		margin-bottom: 20px;
		@include media($tablet) {
			margin-bottom: 0;
		}
		form {
			display: block;

			@include media($tablet) {
				display: flex;
			}

			input {
				padding: 10px;
				max-width: 150px;
				@include media($tablet) {
					max-width: 205px;
				}
			}
			
		}
	}
}
.cat-select {
	position: relative;
	.cat-options {
		color: $darkColor;
		font-size: 21px;
		padding: 17px 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 10px;

		i {
			color: $tertiaryColor;
			position:relative;
			left: 0px;
			top: 3px;
			font-size: 30px;
			transform: rotate(-90deg);

		}

		@include media($tablet) {
			margin-bottom: 0;
		}
		&:after {
			transform: rotate(90deg);
		}
	}
	.cats {
		position: absolute;
		display: none;
		width: 300px;
		z-index: 100;
		background: lighten($primaryColor, 10%);
		margin: 0;
		list-style: none;
		padding: 20px 0;
		margin-top: -10px;
		text-align: left;
		@include media($tablet) {
			margin-top: 0;
		}
		li {
			padding: 5px 20px;
			a {
				color: $lightColor;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
}