/* ------------------------
Common/UI elements (images, video, buttons, etc)
------------------------ */
video{
	max-width: 100%;
	height: auto;
}

.back-to-top {
	text-align: right;
	display: block;
}

img.alignright , img.alignleft, img.aligncenter, img.alignnone, .caption {
    display: block;
    height: auto;
    margin: 0 auto 1em;
    max-width: 100%;
}

// .content {
	img.alignright, img.alignleft {
		float: none;
		@include media($tablet) {
			margin-bottom: 1em;
			max-width: 50%;
		}
	}
	img.alignleft {
		@include media($tablet) {
			float: left;
			margin-right: 1em;
		}
	}
	img.alignright {
		@include media($tablet) {
			float: right;
			margin-left: 1em;
		}
	}
// }

.wp-caption{
	max-width: 95%;
	img{
		width: 100%;
		height: auto;
	}
}


img.alignleft, img.alignright, img.aligncenter, .yes-frame{
	@extend %imgdefaults;
}


.button, .buttons a, .submit-btn, .next-prev a {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	font-family: $primaryFont;
	border: 1px solid $primaryColor;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $secondaryColor;
	padding: 8px 35px;
	background-color: $lightColor;
	&:hover {
		color: $primaryColor !important;
		border: 1px solid $tertiaryColor;
		text-decoration: none;

	}
}



.disclaimer {
	font-size: 11px;
	font-style: italic;
}

.two-column {
	@include media($tablet) {
		column-count: 2;
		column-gap: 40px;
	}
}

::selection {
	background: $primaryColor;
}


// For jump links on a site with fixed header

// :target:before {
// 	@include media($desktop) {
// 		content:"";
// 		display:block;
// 		height:70px; /* fixed header height*/
// 		margin:-70px 0 0; /* negative fixed header height */
// 	}
// }

/* Responsive iframes */

.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
    iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

/* 16x9 Aspect Ratio */
.iframe-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-bottom: 75%;
}