
.content {
	@include media($desktop) {
		// width: calc(100% - #{$sidebar});
		width: 100%;
		padding-right: 50px;
		padding-bottom: 20px;
	}
	
	a {
		text-decoration: underline;
	}

	h2 {
		color: $primaryColor;
		letter-spacing: 1px;
	}

	h3 {
		text-transform: uppercase;
		color: $secondaryColor;
		letter-spacing: 1px;
	}
}

.page-title {
	background: $primaryColor;
	color: $lightColor;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;

	@include media($desktop) {
		text-align: left;
	}

	h1 {
		margin: 0;
		font-size: 25px;
		letter-spacing: 2px;
		text-transform: uppercase;

		@include media($tablet) {
			font-size: 35px;
		}

		@include media($desktop) {
			font-size: 45px;
		}
	}
}

.site-crumbs {
	text-align: left;
	margin-top: 10px;
	.salacious-crumb {
		@include font(13px);
		line-height: 16px;
		font-style: italic;
		color: $secondaryColor;
		a {
			text-decoration: underline;
			color: $secondaryColor;
		}
		.crumb-sep {
			margin: 0 8px;
		}
		.current-crumb-item, span {
			color: $primaryColor;
		}
	}
}

.interior {
	text-align: left;
	margin-bottom: 40px;
	margin-top: 40px;
	@include media($desktop) {
		display: flex;
	}
	h1 {

	}
	.content {
		a:hover {
			color: $tertiaryColor;
		}
		p {
			&:first-of-type {
				margin-top: 0;
			}
		}
		ul {
			margin: 1em 40px;
			list-style: none;
			li {
				position: relative;
				&:before {
					content: '';
					color: $primaryColor;
					font-weight: $bold;
					position: absolute;
					left: -30px;
					top: 9px;
					width: 8px;
					height: 8px;
					border: 1px solid $primaryColor;
					border-radius: 50%;
				}
			}
		}
		ol {
			counter-reset: item;
			margin: 1em 40px;
			> li {
				display: block;
				margin-left: 0;
				position: relative;
				&:before {
					left: -30px;
					position: absolute;
					content: counter(item) ". ";
					counter-increment: item;
					color: $primaryColor;
				}
			}
		}

		blockquote {
			text-align: left;
			color: $primaryColor;
			position: relative;
			margin-bottom: 120px;
			border: none;
			font-family: $primaryFont;
			font-size: 14px;
			line-height: 24px;
			font-style: normal;
			padding: 0;
			top: 70px;

			footer {
				font-size: 100%;
				color:  $primaryColor;
				font-weight: bold;
				&:after {
					content: ' *';
					font-weight: normal;
					color: $darkColor;
				}
			}

			strong {
				top: 15px;
				position: relative;
				&:after {
					content: ' *';
					font-weight: normal;
					color: $darkColor;
				}
			}

			&:before {
				content: ' ';
				background: url('images/bg-quote-top.png') top left no-repeat;
				background-size: 100%;
				position: absolute;
				width: 100%;
				height: 30px;
				top: -50px;

				@include media($tablet) {
					height: 40px
				}
			}

			// &:after {
			// 	content: ' ';
			// 	background: url('images/bg-quote-bottom.png') top left no-repeat;
			// 	background-size: 100%;
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 30px;
			// 	bottom: -50px;
			// }
		}
	}

	.bnacase-imgset {
		clear: both;
		margin: 30px 0;
		border: 1px solid $primaryColor;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;

		.before, .after {
			width: 100%;
			img {
				border: 1px solid $primaryColor;
				margin-bottom: 0px;
			}

			@include media($tablet) {
				width: 48%;
			}

			span {
				color: $primaryColor;
				font-weight: bold;
				letter-spacing: 1px;
			}
		}
		.before{
			margin-right: 0;
			@include media($tablet) {
				margin-right: 15px;
			}
		}
		.after {
			position: relative;
			&:before {
				content: " *";
				position: absolute;
				top: 5px;
				right: 8px;
				color: $lightColor;
				font-size: 18px;
			}
		}

		div:last-of-type {
			align-self: center;
				a {
				cursor: pointer;
				display: inline-block;
				position: relative;
				text-align: center;
				text-decoration: none !important;
				font-family: $primaryFont;
				border: 1px solid $primaryColor;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: $secondaryColor;
				padding: 8px 35px;
				background-color: $lightColor;
				&:hover {
					color: $primaryColor;
					border: 1px solid $tertiaryColor;
					text-decoration: none;

				}
			}
		} 
	}

	.gallery {
		display:flex;
		flex-wrap: wrap;

		.gallery-item {
			width: 100% !important;
			@include media($tablet) {
				width: 50% !important;
				img { 
					border:none !important;
				}
			}
		}
	}
}

.plastic-surgeon h1 {
	max-width: 650px;
}
