
.contact-us {
	aside {
		display: none;
	}

	// .container {
	// 	display: block;
	// 	@include media($tablet) {
	// 		display: flex;
	// 	}
	// 	@include media($desktop) {
	// 		padding: 0;
	// 	}
	// }
	.field-wrap:not(.type-text):not(.type-checkbox) {
			margin-bottom: 0px;
		}
	.contact-content {
		padding: 0 0 50px 0;
		width: 100%;
		// padding-bottom: 50px;
		text-align: left;
		@include media($tablet) {
			display: flex;
		}
		section {

			@include media($tablet) {
				display: flex;
				max-width: 100%;
			}
		}
	}
	.contact-form {
		@include media($tablet) {
			width: 50%;
			padding-right: 50px;
		}
	}
	.office-info {
		padding-top: 50px;
		@include media($tablet) {
			padding-top: 0px;
			width: 50%;
		}
	}
	h2 {
		@include font(28px);
		text-transform: none;
		margin-top: 0;
	}
	// .type-radiobuttons > label,
	// .type-textarea label {
	// 	@include font(18px, 150%, $bold);
	// 	font-family: $secondaryFont;
	// 	padding-bottom: 10px;
	// }
	.gmaps {
	width: 100%;
	margin-bottom: 16px;
		iframe {
			width: 100%;
			height: 400px;
		}
	}
	.loc-hours {
		@include media($tablet) {
			display: flex;
		}
		> div {
			@include media($tablet) {
				@include font(14px);
				width: 50%;
			}
			@include media($desktop) {
				@include font(16px);
			}
		}
	}
	.contact-location {
		width: 100%;
		padding-bottom: 20px;
		span {
			display: block;
		}
	}
	.contact-address {
		padding-bottom: 20px;
	}
	.hours-table {
		display: table-row;
	}
	.days,
	.hours {
		display: table-cell;
		min-width: 80px;
	}
}

.gmaps {
	width: 100%;
	margin-bottom: 16px;
	border: 1px solid rgba($darkColor, .2);
	iframe {
		display: block;
		width: 100%;
		height: 200px;
	}
}


form {
	.text-inputtype,
	.email-inputtype {
		width: 100%;
		height: 38px;
		margin-bottom: 16px;
		padding-left: 10px;
		background: $lightColor;

	}
	select {
		width: 100%;
		height: 38px;
		appearance: none;
		padding-left: 10px;
		border-radius: 0;
		margin-bottom: 16px;

		background: url('images/svg/select-arrow.svg');
		background-position: right 18px center;
		background-repeat: no-repeat;
		background-size: 17px 11px;
		background-color: #f9f9f9;
		border: 1px solid #c9c9c9;
	}
	textarea {
		width: 100%;
		margin-bottom: 16px;
		padding-left: 10px;
		padding-top: 10px;
		border: 1px solid #c9c9c9;
		height: 240px;
	}
	input[type="radio"] {
		margin-right: 10px;
	}
	.submit-btn  {
		// padding: 10px 30px;
		// border: 1px solid $primaryColor!important;
	}
	.type-text {
		@include font(12px);
		// color: $secondaryHighlight;
	}
	.button {
		border: none;
	}
	.disclaimer {
		p {
			line-height: 1.2em!important;
			color: $midGray;
			font-weight: $regular!important;
		}
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

$red: #E74C3C;
.field-wrap {
	position: relative;
}
.error{
	border: 1px solid $red!important;
	outline: none !important;
	box-shadow: 0 0 10px $red!important;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
span.error{
	border: none!important;
	box-shadow: none!important;
	font-size: 0;
	top: 28px;
	right: 0;
	position: absolute;
	width: 30px;
	height: 30px;
	background-image: url(images/svg/error.svg);
	background-size: 7px 20px;
	background-repeat: no-repeat;
	background-position: center;
}