

.container.container--narrow.center > p {
    text-align: left;
}

#intro > p {
	text-align: left;
}
.block p {
	text-align: left;
}
#intro p {
	font-size: 18px;
}


.reason {
	overflow:hidden;
	min-height: 500px;
}
.reason .block {
	overflow: hidden;
	// padding:0 0 0 50%;
	margin-top: 0px;

	@include media($tablet) {
	padding:0 0 0 50%;
	margin-top: 100px;

		
	}
}
.reason h4 {
	margin-top:40px!important;
}
.reason img {
	// position:absolute;
	left:10px;
	top:0;
	max-width:90%;


	@include media($tablet) {
	position:absolute;
	max-width:45%;
		left:10px;
	top:0;

		
	}
}

.reason.right .block {
	// padding:0 50% 0 0;
	@include media($tablet) {
		padding:0 50% 0 0;
		
	}
}
.reason.right img {
	left:auto;
	right:10px;
}

.no-tb {
	border-top:none;
}
.no-bb {
	border-bottom:none;
}

/* ===== Consultation ===== */	
#procedures {
	overflow:hidden;
	margin:0 -2%;
	background: $secondaryColor;
	padding: 40px;
	margin-top: 20px;
	position: relative;

	@include media($tablet) {
		background: $secondaryColor url('images/bg-dosomething.jpg');
		background-size: cover;
	}

	h4 { 
		color: $tertiaryColor;
		text-transform: uppercase;
		letter-spacing: 3px;
	}	
	h6 { 
		color: $primaryColor;
		margin-bottom: 5px;
		margin-top: 10px;
		letter-spacing: 2px;
	}	
	p {

		color: $lightColor;
	}
	.button {
		border: 2px solid $tertiaryColor;

		@include media($tablet) {
			position: absolute;
			bottom: 10px;
		}

		@include media($desktop) {
			padding: 25px 60px;
			font-size: 20px;
		}
	}

}
.procedure {
 	text-align:center;
	

 	@include media($tablet) {
	 	text-align:center;
		width:29.333333%;
		margin:0 2%;
		float:left;
 	}

 	.button {
 		margin-bottom: 40px
 	}
}
.procedure h6,
.procedure p {
	text-align:left;
}

.thank-you {
	height:100%;
	width:100%;
}
/* ====================
	Helpers
==================== */	
.center {
	text-align:center;
}
.f-left {
	float:left;
}
.f-right {
	float:right;
}


#do-something-for-you h4 {
	color: #F1BF2F!important;
	font-size: 20px!important;
}

 div.reason div.container div.block ul {
	list-style-type: disc;
}
div.reason div.container div.block ul li {
	padding: 0px!important;
	background: none!important;
}


h2 { 
	color: $primaryColor;
}


.reason {
	// position: relative;
	margin-bottom:20px;
	// padding-bottom:20px;
	// border-bottom: 1px solid $tertiaryColor;
}

.images {
	border: 10px solid #fff;
	border-radius: 50%;
	margin-top: 50px;

}

a.button:hover {
	text-decoration: none;
}