

.recent-blogs {
	background: url('images/bg-blogs.jpg') center center no-repeat;
	background-size: cover;
	padding-bottom: 20px;

	h3 {
		margin: 0;
		padding: 0;
		color: $lightColor;
		padding-top: 35px;
		padding-bottom: 35px;
		font-size: 25px;
		letter-spacing: 1px;

		font-family: $secondaryFont;

		@include media($tablet) {
			padding-top: 55px;
			padding-bottom: 35px;
			font-size: 27px;
		}

		@include media($desktop) {
			font-size: 41px;
			letter-spacing: 2px;
			padding-bottom: 55px;
		}
	}

	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		@include media($tablet) {
			flex-wrap: nowrap;
		}
		li {
			width: 100%;
			@include media($tablet) {
				// width: 45%;
				&:last-of-type {
					padding-left: 50px;
					border-left: 1px solid rgba($primaryColor,.3) ;
				}
				&:first-of-type {
					padding-right: 50px;
				}
			}
			a:hover {
				text-decoration: none;
			}
		}
	}

	.blog-teaser {
		display: flex;
	}

	.thumb {
		margin-right: 20px;
		img {
			border: 1px solid $secondaryColor;
			width: 75px;
			height: auto;

			@include media($desktop) {
				width: 105px;
				
			}
		}
		
		@include media($tablet) {
			display: block;
		}
	}

	.hdng {
		color: $primaryColor;
		font-family: $primaryFont;
		// font-weight: bold;
		font-size: 20px;
		line-height: 20px;
		padding-bottom: 10px;

		margin-bottom: 30px;
		@include media($tablet) {
			margin-bottom: 0;
		}
	}
	.excerpt {

		color: $lightColor;
		font-size: 13px;
		line-height: 20px;
		display: none;

		span {
			color: $tertiaryColor;
			text-decoration: underline;
			font-weight: bold;
		}

		@include media($tablet) {
			display: block;
		}
	}

}

.site-footer {
	background: url('images/bg-footer.jpg') center center no-repeat;
	background-size: cover;
	color: $footerDark;
	padding-top: 45px;

	@include media($tablet) {
		padding-top: 60px;
	}

	@include media($desktop) {
		padding-top: 90px;
		
	}
}

.practice-info {

	@include media($tablet) {
		display:flex;
		justify-content: center;
			
		@include media($tablet) {
			
		}


		@include media($desktop) {
			justify-content: space-between;
			
		}
	}

	@include media($tablet) {
		.logo-phones {
			margin-right: 50px;
		}
	}

	.logo {
		margin-bottom: 20px;
		img {
			width: 280px;
			@include media($tablet) {
				width: 400px;
			}
			@include media($desktop) {
				width: 516px;
			}
		}
	}
	.phones {
		color: $primaryColor;
		font-family: $secondaryFont;
		font-size: 20px;
		margin-bottom: 20px;
		letter-spacing: 1px;

		a:hover {
			color: $primaryColor;
		}

		@include media($tablet) {
			margin-bottom: 0;
			font-size: 18px;

		}

		@include media($desktop) {
			font-size: 25px;
			text-align: left;
		}

		span {
			font-size: 10px;
			text-transform: uppercase;
			color: $footerDark;
			font-family: $primaryFont;
			@include media($tablet) {
				font-size:16px;
			}
		}
		div {
			display: block;
			text-align: center;

			@include media($tablet) {
				display: inline-block;
				text-align: left;
				
			}

		}

		@include media($tablet) {
			
			div:nth-child(1) {
				&:after {
					content: '|';
					padding: 0 5px;
					color: $tertiaryColor;

					@include media($tablet) {
						padding: 0 15px;
						
					}
				}

			}
		}
	}
	.memberships {

		ul {
			list-style: none;
			display: flex;
			justify-content: center;
		}

		img {
			width: 100px;

			@include media($desktop) {
				width: 95%;
			}
		}
	}
}

.practice-locations {
	margin-top: 35px;
	margin-bottom: 30px;
	text-align: left;
	font-family: $primaryFont;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 17px;
	text-transform: none;
	font-weight: bold;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	@include media($tablet) {
		flex-wrap: nowrap;
		font-size: 14px;
	}

	@include media($desktop) {
		font-size: 18px;
		line-height: 22px;
		margin-top: 70px;
		margin-bottom: 120px;
		justify-content: space-around;
	}

	a {
		color: $footerDark;	
		&:hover {
			text-decoration: none;
		}	
	}
	strong {
		letter-spacing: 1px;
		font-size: 15px;
		color: $primaryColor;
		font-family: $primaryFont;
		font-weight: normal;
	}

	span {
		letter-spacing: 1px;
		font-weight: normal;
		font-size: 14px;
		color: $primaryColor;
		font-family: $primaryFont;
		text-decoration: underline;
	}

	.footer-locations {
		position: relative;
		margin-left: 100px;
		margin-bottom: 30px;
		width: 250px;

		@include media($tablet) {
			margin-bottom: 20px;
			margin-left: 147px;
			width: auto;
			
		}

		@include media($desktop) {
			margin-bottom: 0;
			width: 400px;
			margin-left: 160px;
			&:last-of-type {
				margin-left: 210px;
			}
		}

		img {
			position: absolute;
			top: 0px;
			left: -100px;
			width: 100px;

			@include media($desktop) {
				position: absolute;
				top: -20px;
				left: -147px;
				width: 147px;
			}
		}
	}
}

.social {
	font-size: 30px;
	margin-bottom: 25px;
	// margin-top: 20px;
	text-align:center;

	@include media($desktop) {
		font-size: 50px;
		margin-bottom: 45px;
	}

	a {
		margin-right: 20px;
	}
	a i.fa-facebook {
		// color: $fb;
	}
	a i.fa-google-plus {
		// color: $gp;
	}
	a i.fa-twitter {
		// color: $tw;
	}
	a i.fa-youtube-play {
		// color: $yt;
	}
}

/*------------- Footer Nav --------------*/

.footer-nav {
	.menu {
		display: none;
		list-style: none;
		margin: 0;
		margin-bottom: 10px;
		@include media($tablet) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		li {
			ul {
				display: none;
			}
		a {
			color: $footerDark;
			&:hover {
				color: $tertiaryColor;
			}
		}
		}
	}
}




/*------------- copyright --------------*/

.footer-nav, .azbreast, .lower-footer, .copyright, .rm-sig {
	font-size: 12px;
	line-height: 17px;
	text-align: center;

	@include media($desktop) {
		font-size: 14px;
		line-height: inherit;
	}

}

.azbreast a {
	text-decoration: underline;
	&:hover{
		color: $tertiaryColor;
	}
}


.lower-footer {
	position: relative;
	padding: 25px 20px;

	@include media($tablet) {
		padding: 45px 0 125px 0;
	}

	a {
		color: $primaryColor;
		text-decoration: underline;
		&:hover{
			color: $tertiaryColor;
		}
	}

	.rm-sig {
		text-align: center;

		a {
			color: $primaryColor;
			text-decoration: underline;
			&:hover{
				color: $tertiaryColor;
			}
		}
		svg {
			margin-left: 10px;
			path {
				fill: $primaryColor;
			}
		}
	}
}
