body {
	background: url('images/bg-body.jpg') top center no-repeat;
	background-size: 100%;
	background-position-y: 230px;
}


.welcome {
	background: url('images/bg-welcome.jpg') top center no-repeat;
	background-size: 100%;
	height: auto;
	// min-height: 300px;
	height: 72vw;
	max-width: 1315px;
	margin: 0 auto;
	
	// @include media($tablet) {
	// 	height: 72vw;
	// }

	@include media(1315px) {
		height: 924px;
	}

	// @include media($desktop) {
	// 	height: 924px;
	// }

	h2 {
		padding: 0;
		padding-top: 5%;
		margin: 0;
		font-size: 25px;
		text-shadow: 2px 2px 2px $lightColor;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $darkColor;
		font-family: $secondaryFont;
		@include media($tablet) {
			font-size: 52px;
			padding-top: 7%;
		}

		@include media($desktop) {
			font-size: 87px;
			line-height: 70px;
			padding-top: 8%;
		}
	}

	h3 {
		padding: 0;
		margin: 0;
		font-size: 20px;
		font-family: $primaryFont;
		font-weight: bold;
		text-shadow: 2px 2px 2px $lightColor;
		text-transform: uppercase;
		letter-spacing: 5px;

		@include media($tablet) {
			font-size: 40px;
		}

		@include media($desktop) {
			font-size: 67px;
			letter-spacing: 15px;
		}
	}

	a i {
		font-size: 30px;

		@include media($tablet) {
			font-size: 50px;
		}
		@include media($desktop) {
			font-size: 70px;
		}
	}
}

.doctor {

	h2, h3 {
		margin: 0;
		padding: 0;
	}

	h2 {
		padding-top: 20px;
		font-size: 15px;
		text-transform: uppercase;
		margin-bottom: 5px;
		color: $darkColor;
		font-family: $secondaryFont;

		@include media($tablet) {
			letter-spacing: 2px;
			font-size: 27px;
			padding-top: 35px;
		}

		@include media($desktop) {
			font-size: 38px;
			line-height: 40px;
			padding-top: 70px;
		}
	}

	h3 {
		font-size: 22px;
		font-family: $primaryFont;
		color: $primaryColor;

		@include media($tablet) {
			font-size: 31px;
		}

		@include media($desktop) {
			font-size: 45px;
			line-height: 40px;
		}
	}

	.description {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: left;

		@include media($tablet) {
			margin-top: 30px;
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		@include media($desktop) {
			margin-top: 50px;
		}

		.docimg img {
			margin: 0 auto;
			width: 250px;
			margin-bottom: 20px;
			@include media($tablet) {
				margin-right: 20px;
			}
			@include media($desktop) {
				width: auto;
				margin-right: 40px;
			}
		}

		.describe {
			font-size: 16px;
			span {
				color: $primaryColor;
				a {
					color: $secondaryColor;
					text-decoration: underline;
				}
			}
		}
	}

	.buttons {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		@include media($tablet) {
			flex-wrap: nowrap;
		}

		.button {
			width: 100%;
			margin-bottom: 15px;
			@include media($tablet) {
				width: auto;
				margin-bottom: 45px;
				margin-top: 10px;
			}
			@include media($desktop) {
				width: 270px;
				margin-bottom: 85px;

			}
		}
	}
}


.home-reviews {
	// min-height: 300px;
	background: url('images/bg-reviews.jpg') top center no-repeat;
	background-size: cover;
	color: $lightColor;
	padding-top: 45px;
	padding-bottom: 40px;


	h2 {
		font-family: $secondaryFont;
		text-transform: uppercase;
		font-size: 25px;
		padding: 0;
		margin: 0;
		padding-bottom: 30px;
		color: $lightColor;

		@include media($tablet) {
			font-size: 28px;
			
		}

		@include media($desktop) {
			font-size: 41px;
			
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		
		@include media($tablet) {
			flex-wrap: nowrap;
		}

		li {		
			font-family: $secondaryFont;
			width: 100%;
			text-align: left;

			@include media($tablet) {
				width: 45%;
			}
		}
	}

	.seeall {

		@include media($desktop) {
			width: 412px;
			float: right;
			bottom: 60px;
			height: 60px;
			position: relative;
		}
		
	}

	.seeall a {
		color: $lightColor;
		
		&:hover {
			text-decoration: none;
			color: $tertiaryColor;
			span {
			border-bottom:1px solid $tertiaryColor;

			}
		}

		i {
			font-size: 15px;
			text-decoration: none !important;
			@include media($tablet) {
				font-size: 26px;
				
			}
		}

		span {
			position:relative;
			bottom:6px;
			padding-bottom: 5px;
			border-bottom:1px solid $lightColor;
			margin-left: 20px;
			text-transform: uppercase;
			font-size: 12px;

			@include media($tablet) {
				font-size: 14px;
			}
		}
	}
}







.procedures {
	max-width: 1350px;
	margin: 0 auto;
	h2 {
		margin: 0;
		padding: 0;
		font-family: $primaryFont;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 22px;
		margin-top: 20px;
		margin-bottom: 20px;
		color: $darkColor;


		@include media($tablet) {
			font-size: 25px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		@include media($desktop) {
			font-size: 44px;
			margin-top: 65px;
			margin-bottom: 50px;
		}
	}

	.boxes {
		display: flex; 
		justify-content: space-between;
		flex-wrap: wrap;

		.Transgender .a-procedure span,
		.Male .a-procedure span {
			 padding: 7px 0;
			 @include media($desktop) {
			       padding: 15px 0;
			 	
			 }
		}

		a:hover {
			> .a-procedure span {
			    background-color: rgba($tertiaryColor,0.85);
			}
		}
		
		> a {
			width: 49%;
			height: 40vw;
			margin-bottom: 2vw;
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			display: block;

			@include media($tablet) {
				width: 24.5%;
				height: 20vw;
				margin-bottom: .5vw;
			}

			@include media(1315px) {
				height: 285px;
			}

			.a-procedure {
				span {
			       position: absolute;
			       bottom: 0px;
			       left: 0px;
			       text-align: center;
			       background-color: rgba($primaryColor,0.85);
			       width: 100%;
			       text-transform: uppercase;
			       font-size: 15px;
			       line-height: 15px;
			       color: $lightColor;
			       letter-spacing: 2px;
			       font-weight: 500;
			       padding: 15px 0;
			transition: all .2s;

			   }
			}
		}
	}
	.gallery-button {
		background-color: $secondaryAlt;
		padding: 25px 50px 25px 90px;
		text-transform: uppercase;
		color: $footerDark;
		letter-spacing: 2px;
		font-size: 15px;
		line-height: 18px;
		position:relative;
		margin: 30px 0 40px 0;
		display: inline-block;

		&:hover {
			background-color: $tertiaryColor;
			text-decoration: none;
			color: $lightColor;
		}

		@include media($tablet) {
			padding: 15px 50px 15px 80px;
			width: 610px;
			font-size: 20px;
			line-height: 26px;
			margin: 30px 0 65px 0;
		}

		svg {
			width: 50px;
			height: 50px;
			position: absolute;
			left: 30px;
			top: 10px;

			@include media($tablet) {
				left: 60px;
				top: 3px;
			}
		}
	}
}