// Category Archive

.tmpl_type_rmg_archive {
	text-align: left;
	h1 {
		text-transform: uppercase;
	}
	h2 {
		// @include font(40px);
		color: $lightColor;

	}
	.content {
		width: 100%;
		justify-content: space-between;
		@include media($tablet) {
			display: flex;
			flex-wrap: wrap;
		}
		> div {
			width: 100%;

			@include media($tablet) {
				width: 48%;
			}
		}
		ul {
			margin-left: 0;
			list-style: none;
			margin: 0;

			li {
				font-size:15px;
				text-align: center;
				a {
					text-decoration: none;
					color: $secondaryColor;
					&:hover {
						color: $primaryColor;
					}
				}
				&:before {
					display: none;
				}
			}
		}
	}
	.interior {
		display: block;
	}


.cat-container {

		border-bottom: 1px solid $yellow;
		margin-bottom: 40px;
		padding-bottom: 20px;
	
		.gallery-section {

			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			margin: 0 auto;
			margin-bottom: 20px;
			max-width: 460px;
			height: 330px;

			&.model_tag:before {
				top: 0px;
			}

			@include media($tablet) {
			}
			h2 {
				position: absolute;
				bottom: 0;
				text-align: center;
				font-size: 20px;
				letter-spacing: 3px;
				text-transform: uppercase;
				color: $lightColor;
				background-color: rgba($primaryColor, .8);
				width: 100%;
				padding: 20px 0;
				margin: 0;
			}
			ul {
				margin-left: 0;
				list-style: none;

				li {
					&:before {
						display: none;
					}
				}
			}
		}
		.gallery-content {
			// padding-top: 60px;
			// padding-bottom: 40px;
		}
		.gallery-vid {
			text-align: center;
			padding: 40px 0;
		}
	}
}

// Category Child

.tmpl_type_rmg_category_child {
	.gallery-cat-wrap {
		// @include media($tablet) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		// }
	}
	.bna-group {
		width: 45%;
		margin-bottom: 20px;
		position: relative;
		@include media($tablet) {
			width: 48%;
		}

		h2 {
			text-transform: uppercase;
			font-size: 20px;
			color: $primaryColor;
			margin: 20px 0;
			letter-spacing: 1px;

			@include media($tablet) {
				font-size: 25px;
			}
		}

		a {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		&:hover {
			@include media($desktop) {
				.hover-overlay {
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					width: 100%;
					height: 100%;
					top: -9%;
					left: -4px;
				}
			}
		}
		.hover-overlay {
			display: none;
			.button {
				background-color: transparent;
				border: none;

				&:hover {
					color: $darkColor!important;
				}

				i {	
					padding: 10px;
					border-radius: 50%;
					background-color: $lightColor;
					position: absolute;
					top: 39%;
					left: 45%;
					font-size: 30px;
					line-height: 30px;
					color: $tertiaryColor;
				}
			}
		}
	}
	.img-set {
		// @include media($tablet) {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			> a {
				display: block;
				width: 49%;
			}
			a {
				&:nth-last-of-type(2),
				&:nth-last-of-type(1) {
					.bna-label {
						display: block;
						color: $primaryColor;
						text-transform: uppercase;
						font-weight: bold;
						letter-spacing: 1px;
					}
				}
				.bna-label {
					display: none;
				}
			}
		// }
		img {
			border: 1px solid $lightColor;
			width: 96%;
			margin-bottom: 10px;
		}
		.before-link, .after-link{
			position: relative;

			&:after {
				content: '';
				background: url('images/bg-bna-watermark.png');
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 3px;
				left: 10px;
				width: 90%;
				height: 20px;

		 		@include media($tablet) {
					left: 20px;
		 			height: 40px;
					bottom: 20px;
		 		}
			}
		}
	}

	.details-hdng {
		text-align: left;
		font-weight: $normal;
		margin-top: 20px;
	}
	.patient-details {
		text-align: left;
	}
}

// Single Case

.tmpl_type_rmg_single_case {
	h2 {
		text-align: center;
		margin: 0;
		margin-bottom: 20px;
	}
	.case-wrap {
		padding: 20px 0;
		


		p {
			padding-top: 20px;
			text-align: left;
		}
	}
	.img-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> div {
			position: relative;
			width: 49.5%;
			margin-bottom: 8px;
			img {
				width: 100%;
				border:1px solid $lightColor;
			}
			&:nth-last-of-type(2),
			&:nth-last-of-type(1) {
				.bna-label {
					position: absolute;
					display: block;
					// bottom:0px;
					width: 100%;
					text-align: center;
					color: $primaryColor;
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: 1px;
				}
			}
		}
		.bna-label {
			display: none;
		}

		.before-img, .after-img{
			position: relative;

			&:after {
				content: '';
				background: url('images/bg-bna-watermark.png');
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 3px;
				left: 10px;
				width: 90%;
				height: 20px;

		 		@include media($tablet) {
				left: 20px;

		 			height: 40px;
					bottom: 10px;
		 		}
			}
		}
	}
	.details-hdng {
		text-align: left;
		font-weight: $normal;
		margin-top: 20px;
	}
	.patient-details {
		text-align: left;
	}
}

.notice-body-everything {
	h2, p {
		color: $darkAlt;
	}
}
.bna-label {
	color: $darkColor;
	font-weight: $normal;
}

.back-btn {
	i {
		color: $tertiaryColor;
		font-size: 25px;
		position: relative;
		top: 3px;
		margin-right: 5px;
	}
	a:hover {
		text-decoration: none;
	}
}


.gallery-title {
	background: $darkColor;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position:relative;

	h1 {
		max-width: 250px;
		@include media($tablet) {
			max-width: none;
			max-width: 850px;

		}
	}
}

.button-gallery-prev,
.button-gallery-next {
	text-transform: uppercase;
	position: relative;

	@include media($tablet) {
		bottom:15px;
	}

	@include media($desktop) {
		bottom: 20px;
	}

	i {
		color: $tertiaryColor;
		font-size: 50px;
		position: relative;

		@include media($tablet) {
		font-size: 50px;
		top: 10px;
		padding: 0 15px;

		}
	}
	&:hover {
		color: $tertiaryColor;
		text-decoration: none;
	}

	span {
		display: none;
		@include media($tablet) {
			display: inline-block;
		}
	}

}
.case-title {
	display: inline-block;
}
.button-gallery-prev {
	position: absolute;
	left: 10px;
	@include media($desktop) {
		margin-left: 10%;
	}

}

.button-gallery-next {
	position: absolute;
	right: 10px;

	@include media($desktop) {
		margin-right: 10%;
	}
}

.gallery-buttons {
	padding-top: 45px;
	border-top: 1px solid $tertiaryColor;

	display: flex;
	justify-content: center;		 
	flex-wrap: wrap;
	margin-bottom: 30px;

	@include media($desktop) {
		flex-wrap: nowrap;
		justify-content: space-between;		 

	}

	.button {
		margin-bottom: 15px;
		width: 100%;
		@include media($tablet) {
			width: auto;
			margin-right: 10px;
			padding: 8px 30px;
		}
		@include media($desktop) {
			width: 230px;
			margin-right: 20px;
			padding: 8px 35px;
		}
		&:hover {
			text-decoration: none;
		}
	}
}