
/* Naviagation bar */

.nav-bar {
	background: $primaryColor;
	display: flex;
	justify-content: space-between;
	width: 100%;
	nav {
		width: 0;
		@include media($desktop) {
			width: 100%;
			@include contain;
		}
	}
}

.is--device {
	.nav-bar {
		nav {
			padding: 0 20px;
		}
	}
}

/* Menu Bar - Display on mobile devices, not on desktop */

.menu-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 100%;
	@include media($desktop) {
		// display: none;
	}
	a {
		color: $lightColor;
		text-decoration: none;
	}
	span {
		@include font(16px, 100%, $light);
		letter-spacing: 1px;
		font-family: $primaryFont;
		text-transform: uppercase;
		margin: 0 5px;
		color: $lightColor;
		@include media($tablet) {
		}
	}
	.menu-trigger {
		height: 60px;
		width: 130px;
		display: flex;
		align-items:center;
		justify-content: center;
		background: $primaryColor;
		color:#fff;

	.touch-button-icon svg {
			path {
				fill: $lightColor;
			}
		}
	}

	.menu-contact {
		.menu-phone  {
			display: flex;
			align-items:center;
			height: 60px;
		}
		.menu-phone a {height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			.touch-button-icon svg {
				width: 33px;
				height: 33px;
			}
			.touch-button-text {
				color: $primaryColor;
				font-family: $secondaryFont;
				letter-spacing: 1px;
				font-weight: bold;
				font-size: 17px;			
			}

		}
	}
}

// Ipad Pro

.is--device {
	.menu-buttons {
		@include media($desktop) {
			display: block;
		}
	}
}

/*-------------- Logo Area -------------*/

.masthead {
	display: flex;
	align-items:center;
	margin-top: 20px;
	justify-content: center;

	@include media($tablet) {
		justify-content: space-between;
		padding: 0px 20px;	
	}

	@include media($desktop) {
		margin-top: 42px;
		padding: 0  calc(0px + (50% - (1160px / 2)));
	}

	.logo {
		h1 {
			margin:0;
		}
		@include media($desktop) {
			width: 527px;
			height: 68px;
		}

		img {
			width: 300px;
			margin-bottom: 10px;
			
			@include media($tablet) {
				width: 400px;
				
			}

			@include media($desktop) {
				width: 527px;
				height: 68px;
				padding-left: 10px;
			}
		}
	}
	
	.locations-grip {
		width: 400px;
		float: right;
		display: none;
		text-align-last: right;
	
		@include media($tablet) {
			display: inline-block;
			width: 340px;
		}

		@include media($desktop) {
			width: 500px;
			height: 50px;
			padding-right: 10px;
		}


		.header-locations {
			display: inline-block;
			font-size: 18px;
			letter-spacing: 1px;
			@include media($desktop) {
				font-size: 20px;
				
			}
			a {
				color: $footerDark;

			}

		}
		.header-locations:first-of-type:after {
			content: " / ";
			color: $primaryColor;
			padding: 0 5px;

		}

		.mast-phone {
			display: none;
			font-size: 25px;
			font-family: $secondaryFont;
			font-weight: bold;
			letter-spacing: 1px;
			margin-left: 20px;

			a:hover {
				color: $primaryColor;
			}

			@include media($desktop) {
				
				display: inline-block;
			}
		}
	}
	
	.schedule {
		height: 30px;
		margin-right: 10px;
		align-items:center;
		@include media($desktop) {
			margin-right: 20px;
			margin-top: 6px;
			
		}
		a {	text-transform:uppercase;
			color: $footerDark;
			letter-spacing: 1px;
			display: flex;
			justify-content: flex-end;

		}
		svg {
			margin-left: 8px;
			width: 23px;
			height: 23px;
			path {
				fill: $secondaryColor;

			}
		}
	}
}