$menuHeight : 50px;


.hover-menu {
	padding: 0  calc(40px + (50% - (#{1140px} / 2)));
	margin-top: 35px;
	@include font(14px, 1em);
	display: block;
	.main-menu {
		font-size: 0;
		text-align: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $menuHeight;
		> li {
			display: inline-block;
			vertical-align: top;
			position: relative;
			height: 100%;
			// &:last-of-type {
			// 	a {
			// 		padding-right: 0;
			// 	}
			// }
			//show sub-menus on hover
			&:hover{
				
				> a {
					// border-bottom: 2px solid $tertiaryColor;
					} 

				> .sub-menu{
					opacity: 1;
					visibility: visible;
					z-index: 50;
					// top: $menuHeight; //same as height of .main-menu
				}

			}
			&.mega-menu{
				position: static;
			}
			a{
				display: block;
				text-decoration: none;
				padding: 10px 15px;
				transition: .25s ease-in-out background;
				color: $lightColor; //set this color
				text-transform: uppercase;
				letter-spacing: .5px;
				&:hover {
					color: $primaryColor;
				}
			}
		}
	}

	a {
		font-size: 14px; //reset font-size for inline-block hack
		line-height: 18px;
	}
	.sub-menu {
		background: lighten($primaryColor, 15%); //set to your own background color
		border: 1px solid rgba($secondaryColor, .3); //for visual purposes.  can remove.
		position: absolute;
		top: 50px;
		left: 50%;
		right: 50%;
		transform: translate(-50%, 0);
		opacity: 0;
		visibility: hidden;
		width: 300px;
		z-index: -5;
		transition: .25s ease-in-out top, .25s ease-in-out opacity;
		> li {

			border-bottom: 1px solid rgba($secondaryColor, .3); //for visual purposes.  can remove.
			&:last-of-type {
				border-bottom:none;
			}


			&.menu-item-has-children {
				// padding-right: 25px; 
				//set this to the size of the arrows container
				position: relative;
				&:hover{ //show third level sub-menu
					// &:after{
					// 	transform: translateY(-50%) rotate(90deg);
					// }
					> .sub-menu{
						opacity: 1;
						visibility: visible;
						right: inherit;
						left: inherit;
						transform: none;
						left: 298px;
						top: 0;
					}
				}
			}
			a {
				color: $lightColor;
			}
			&:hover {
				> a {
					color: $lightColor;
					background: rgba($lightColor, .3);
					border-bottom: none;
				}
			}
		}
		a{
			text-align: left;
			padding: 15px 20px!important;
			color: $lightColor;
		}
	}

	.mega-menu{
		> .sub-menu{
			width: 100%;
			.sub-menu{ //reset styling for sub-sub-menus
				position: relative;
				opacity: 1;
				visibility: visible;
				width: 100%;
				top: inherit;
				left: 0!important;
				right: inherit;
				transform: none;
				z-index: 50;
			}
			li{
				padding-right: 0;
				&:after{
					display: none;
				}
			}
			a{
				// color: #fff; //remove
			}
			> li{
				width: 50%; //set this width to however many columns you need
				display: inline-block;
				vertical-align: top;
				padding: 25px;
				> a, > .sub-menu{ //set the background color of the sub-menus
					background: none;
				}
			}
		}
	}
	.close-menu{
		display: none!important;
	}
}