//Touch Menu

.menu-wrap{
	display: none;
}

.touch-menu{
	display: block;
	&.menu-wrap{
		width: 320px;
		position: fixed;
		top: 60px;
		left: -320px;
		height: 100%;
		z-index: 500;
		padding: 0;
	}

	.main-menu{
		border-right: 1px solid rgba($secondaryColor, .7);
		background: rgba($primaryColor, .9);
		height: 100%;
		width: 320px;
		overflow-y: scroll;
		transform: translate3d(-320px, 0, 0);
		transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
		//Set baseline "li" styling
		li{
			margin: 0;
			padding: 0;
			position: relative;
			list-style-type: none;
				&:before{
					display: none;
				}
		}
		//End "li" reset
		//Set baseline "a" styling
		a{
			text-transform: uppercase;
			letter-spacing: 1px;
			text-decoration: none;
			display: block;
			color: $lightColor; //Set color for menu items
			line-height: 1em;
			font-size: 14px; //Set font size for menu items
		}
		//End "a" reset

		//Touch Menu Items
		.menu-item{
			> a{
				padding: 16px 20px;
				border-bottom: 1px solid rgba($secondaryColor, .7);
			}
		}

		.first.menu-item{
			border-top: 1px solid rgba($secondaryColor, .7);
		}

		//General Sub-Menu Styling
		.sub-menu{
			display: none;
			a{
				font-size: .85em;
			}
		}

		//Specific Sub-Menu Level Styling
		ul[data-ul-depth="0"]{
			> li > a{
				padding-left: 30px;
			}
		}
		ul[data-ul-depth="1"]{
			> li > a{
				padding-left: 40px;
			}
		}
		ul[data-ul-depth="2"]{
			> li > a{
				padding-left: 50px;
			}
		}
		ul[data-ul-depth="3"]{
			> li > a{
				padding-left: 60px;
			}
		}
		ul[data-ul-depth="4"]{
			> li > a{
				padding-left: 70px;
			}
		}
	}

	.nav-dropdown-button {
    position: absolute;
    z-index: 25;
    width: 50px;
    height: 46px;
    background: rgba($lightColor, 0.1);
    right: 0;
    top: 0px;
    cursor: pointer;
    border-left: 1px solid #000;
		&:after{
			content: '';
			width: 12px;
			height: 20px;
			background-size: 12px 20px;
			transition: .2s linear transform;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: 0 auto;
			background-image: url(images/svg/arrow.svg);
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	.close-menu{
		display: block;
		padding: 12px 20px; //match to "a" padding
		color: $lightColor;
		text-align: center;
		font-size: 14px; //match to other font-size
		cursor: pointer;
		border-bottom: 1px solid rgba($secondaryColor, .7);
	}

	.sub-menu-open{
		> .nav-dropdown-button{
			&:after{
				content: '';
				transform: translateY(-50%) rotate(90deg) !important;
			}
		}
	}
} //Closing .touch-menu

.menu-is-open{
	.touch-menu .main-menu{
		transform: translate3d(320px, 0, 0);
	}
}