aside {
	display: none;
	
	width: 280px;
	margin: 0 auto;
	position: relative;
	background: url('images/bg-sidebar.png') top center no-repeat;
	background-size: 53%;

	@include media($tablet) {
		width: 300px;
		background: url('images/bg-sidebar.png') top center no-repeat;
		background-size: 60%;
		left: 0;
	}

	@include media($desktop) {
		background: url('images/bg-sidebar.png') top center no-repeat;
		width: 300px;

		display: none;
		// top: -140px; 

	}
	ul {
		list-style: none;
	}
	li {
		width: 100%;
	}
}

.sidebar-block {
	margin-bottom: 23px;
	padding: 20px 0;


	.hdng {
		@include font(28px, 1.25em);
		margin-bottom: 20px;
		a {
			text-decoration: none;
		}
	}
	li {
		// border-bottom: 1px solid rgba($darkColor, .1);
		a {
			text-decoration: none;
			width: 100%;
			display: block;
			// padding: 8px 30px;
		}
		&.current_page_item {
			// Style this to differentiate (or remove);
		}
	}
}

.sidebar-buttons {
	padding-top: 350px;

	@include media($tablet) {
		padding-top: 390px;
		margin-bottom: 80px;
		

	}
	@include media($desktop) {
		padding-top: 0;
		margin-top: 525px;
		margin-bottom: 180px;
	}
	.button {
		margin-bottom: 14px;
	}
}

.related-pages {
	text-align: center;

	padding-top: 0PX;

	@include media($desktop) {
		// margin-top: 100px;
	}

	h4 {
		text-transform: uppercase;
		font-size: 17px;
		font-weight: bold;
		color: $secondaryColor;
		// @include media($tablet) {
			margin: 0 0 20px 0;
		// }
		@include media($desktop) {
			margin: 0px 0 20px 0;
		}
	}

	ul li a {
		text-decoration: underline;
		color: $secondaryColor;
		&:hover {
			color: $primaryColor;
		}
	}
}

.sidebar-doctor {
	background: url('images/bg-sidebar-doctor.png') top center no-repeat;
	height: 270px;
	margin-bottom: 40px;

	a {
		width: 100%;
		margin-top: 200px;
		&:hover {
			text-decoration: none;
		}
	}

}


.sidebar-office {
	background: url('images/bg-sidebar-about.png') top center no-repeat;
	height: 270px;
	margin-bottom: 40px;

	a {
		width: 100%;
		margin-top: 200px;
		&:hover {
			text-decoration: none;
		}
	}

}
