/* ------------------------
   Variables
------------------------ */

// Turkel Tab Colors

$blue : #4B1143;
$purple : #0b1d53; 
$yellow: #4B1143; 

$textdark: #4B1143;

$footerDark: #4B1143;

$lightGrey: #ecece5;


// ---------------


$primaryColor : $blue; // link color, buttons, nav, footer, etc
$primaryAlt : $yellow; //link hover

$primaryHighlight : $blue;

$secondaryColor : $purple;
$secondaryAlt : $lightGrey;

$tertiaryColor : $yellow;
$tertiaryAlt : $yellow;

$lightColor : #ffffff;
$darkColor : $footerDark;
$lightAlt : #000000;
$darkAlt : #000000;

// Font Family

$primaryFont : 'Montserrat', sans-serif;

$secondaryFont : 'Julius Sans One', sans-serif;;

$highlightFont : 'Montserrat', sans-serif;

$sidebar : 300px;

// Font Weight

$thin : 100;
$light : 300;
$normal : 400;
$regular : 400;
$medium : 500;
$semiBold : 600;
$bold : 700;
$extraBold : 800;
$heavy : 900;

// Media Query break points

$tablet : 768px;
$desktop : 1080px;
$full : 1480px;

$ipad-min: 768px;
$ipad-max: 1024px;

$ipadpro-min: 1024px;
$ipadpro-max: 1366px;

$ipad: ipads;
$ipads: ipads;	

// Increasing color

$step: 1;

// Defaults

$defaultfont : $primaryFont;
$defaultcolor : $darkColor;

