.rmrr-item{
	border-bottom: 1px solid #e5e5e5;
    position: relative;
    padding: 20px 0px;
}
.rmrr-item cite{
	font-style: normal;
	display: block;
	min-height: 50px;
	position: relative;
	padding-right: 50px;
}
.rmrr-item blockquote{
    padding: 0;
    margin: 0!important;
    border: 0;
}
.rmrr-item cite:before{
	content:" ";
}
.rmrr-item cite p{
	margin:0;
}
.rmrr-item .rmrr-review-rating{
	font-size: 0;
}
.rmrr-item .rmrr-review-rating i{
	display: inline-block;
	font-size: 0;
	margin-right:3px;
	color:#d49720;
}
.rmrr-item .rmrr-review-rating i:before{
	font-size: 18px;
}
.rmrr-item.rmrr-type-googleplaces cite:before,
.rmrr-item.rmrr-type-googlemybusiness cite:before{
	content:" ";
	position: absolute;
	display: block;
	top:5px;
	right:0;
	width:50px;
	height: 50px;
	background-image:url('../images/rmrr-gplus.png');
	background-repeat: no-repeat;
	background-position: top right;
}
.rmrr-item.rmrr-type-facebook cite:before{
	content:" ";
	position: absolute;
	display: block;
	top:5px;
	right:0;
	width:50px;
	height: 50px;
	background-image:url('../images/rmrr-fb.png');
	background-repeat: no-repeat;
	background-position: top right;
}
.rmrr-item.rmrr-type-yelp cite:before{
	content:" ";
	position: absolute;
	display: block;
	top:5px;
	right:0;
	width:50px;
	height: 50px;
	background-image:url('../images/rmrr-yelp.png');
	background-repeat: no-repeat;
	background-position: top right;
}

/* TABS */
.rmrr-tabs{
	margin:0!important;
	font-size: 0;
	line-height: normal!important;
	border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.rmrr-tabs li{
	position: relative;
    display: block;
    font-size: 18px;
    padding: 0!important;
    padding: 10px 25px 10px!important;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0;
    opacity: 0.75;
    -webkit-transform:translate3d(0,0,0);
    /*box-shadow:0px 0px 0px 0px rgba(0,0,0,0);*/
    transition: all 0.5s;
     -webkit-transition: all 0.5s;
    cursor: pointer;

}
@media (min-width: 768px) {
	.rmrr-tabs li{
		display: inline-block;
		margin-left: 10px;
	}
}
.rmrr-tabs li:hover{
	opacity: 1;
	-webkit-transform:translate3d(0,0,0);
   /* transition: opacity 0.5s;
     -webkit-transition: opacity 0.5s;*/
}
.rmrr-tabs li.is-current-tab{
    /*box-shadow:0px -5px 15px -5px rgba(0,0,0,0.15);*/
    border-bottom: 0px;
    opacity: 1;
    text-shadow: none;

}
.rmrr-tabs li.is-current-tab a{
	color:inherit;
}
.rmrr-tabs a{
    display: block;
    color: #9a9a9a;
    text-decoration: none;
}
.rmrr-tabs a span{
	background:#ffffff;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #e5e5e5;
	display: inline-block;
	color:#999999;
	margin-left: 5px;
	padding:2px 5px;
	vertical-align: middle;
	line-height: normal;
	border-radius: 4px;
	text-shadow: none;
}

.rmrrWidget-contains-reviews{
	min-height: 400px;
}

/* PAGER */
.rmrrWidget-contains-pager{
	display: none;
}
.rmrrWidget-contains-pager ul{
	margin:50px 0px 0px 0px!important;
	padding:10px;
	font-size: 0;
	text-align: center;
}
.rmrrWidget-contains-pager li{
	display: inline-block;
	list-style-type: none;
}
.rmrrWidget-contains-pager li.is-current-page a{
	text-decoration: underline;
}
.rmrrWidget-contains-pager a{
	display: block;
	font-size: 18px;
	cursor: pointer;
	margin:0px 3px;
}

/* AVG RATING CSS */
#rmrr-ratingavgs{
	font-size: 0;
	text-align: center;
	margin: 10px 0px 30px;
}
.avgratingtitle span{
	display: block;
}
.avg-rating-box{
	font-size: 15px;
	text-align: center;
	padding: 5px;
	border: 1px solid #efefef;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
@media (min-width: 768px) {
	.avg-rating-box{
		width: 25%;
	}
}
.avg-rating-box p{
	margin: 0;
	line-height: normal;
}

.page-no-sb > article{
	float:none;
	width: auto;
	margin:0;
}
/******************
	BELOW IS CUSTOM
******************/

.rmrr-item blockquote{
	color:#353636;
	font-family: 'Times New Roman';
	font-size: 21px;
	font-style: italic;
}
.rmrr-review-date{
	font-size: 14px;
}
.rmrr-review-author{
	font-size: 24px;
}

/* non-widget review */
.rmrr-item.rmrr-item-sprinkle{
	padding:60px 0px;
	margin:20px 0px;
}
.rmrr-item.rmrr-item-sprinkle:before{
	border-top: 1px solid #cfcfcf;
	content:" ";
	display: block;
	position: absolute;
	top:4px;
	left:0;
	width: 100%;
	height: 1px;
}
.rmrr-item.rmrr-item-sprinkle:after{
	border-bottom: 1px solid #cfcfcf;
	content:" ";
	display: block;
	position: absolute;
	bottom:4px;
	left:0;
	width: 100%;
	height: 1px;
}
.rmrr-item.rmrr-item-sprinkle blockquote{
	position: relative;
}
.rmrr-item.rmrr-item-sprinkle blockquote:before{
	content:" ";
	height: 70px;
	width: 100%;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-image:url('../images/reviewquote.png');
	position: absolute;
	top:-30px;
}

.rmrr-item.rmrr-item-sprinkle{
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
.rmrr-item.rmrr-item-sprinkle cite{
	padding-right: 0;
}
.rmrr-item.rmrr-item-sprinkle cite p{
	margin:0;
	line-height: 0.95em;
}
.rmrr-sprinke-container .after-review-sprinkle{
	text-align: center;
	margin-top: 25px;
}
.rmrr-sprinke-container .after-review-sprinkle .button{
	font-size: 16px;
	padding:12px 20px;
	line-height: normal;
	text-shadow:none;
}
.rmrr-item.rmrr-item-sprinkle cite:before{
	background-position: center!important;
	position: static;
	margin:0 auto;
}


/****************
** widget review
*****************/

/* rating math */
.avg-rating-box.is-google{
	background-image: url('../images/rmrr-gplus.png')!important;
	background-position: 10px 10px!important;
	background-size: 22px auto!important;
	background-repeat: no-repeat!important;
}
.avg-rating-box.is-yelp{
	background-image: url('../images/rmrr-yelp.png')!important;
	background-size: auto 20px!important;
	background-position: 10px 10px!important;
	background-repeat: no-repeat!important;
}
.avg-rating-box.is-facebook{
	background-image: url('../images/rmrr-fb.png')!important;
	background-size: auto 20px!important;
	background-position: 10px 10px!important;
	background-repeat: no-repeat!important;
}
.custom-reviews-ui *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.custom-reviews-ui .avg-rating-box{
	font-family: "Time New Roman";
	width: 100%;
	display: block;
}
.custom-reviews-ui .avg-rating-box{
	background: #ffffff;
	color:#000000;
	padding:20px 10px;
	border:0;
	margin-bottom: 20px;
}
.custom-reviews-ui .avg-rating-box.is-all{
	background: #2d2d2d;
	color:#ffffff;
}

.custom-reviews-ui .avgratingstars{
	margin:0!important;
}
.custom-reviews-ui .avgratingstars .dashicons{
	color:#bc9539;/* star color */
}
.custom-reviews-ui .avgratingtitle{
	font-size: 20px;
	margin:0 0 20px!important;
}
.custom-reviews-ui .avgratingnum{
	margin:0 0 20px!important;
	color:#bc9539;/* rating color */
}
.custom-reviews-ui .avgratingstarslabel{
	font-family: "Arial";
	font-size: 14px;
	text-transform: uppercase;
	margin:0 0 8px!important;
}

.custom-reviews-ui .avgratingtitle span{
	display: block;
	font-size: 11px;
	font-weight: bold;
	font-family: "Arial";
	text-transform: uppercase;
}
.custom-reviews-ui .avgratingnum{
	font-size: 50px;
}
/* TABS */
.custom-reviews-ui #rmrr-tabs{
	list-style-type: none!important;
	border-bottom: 0;
	position: relative;
	display: block;
	padding-left: 0;
}
.custom-reviews-ui #rmrr-tabs:after{
	height: 1px;
	width: 100%;
	content:" ";
	background: #bbbbbb;
	position: absolute;
	left:0;
	bottom:0;
}
.custom-reviews-ui #rmrr-tabs li{
	list-style-image: none!important;
	background: #ffffff!important;
	color:#373737;
	display: block;
	font-size: 16px;
	opacity:1;
	font-family: 'Times New Roman';
	border:0;
	width: 100%;
	padding: 14px 25px 12px!important;
	position: relative;
}
.custom-reviews-ui #rmrr-tabs li:first-of-type{
	margin-left: 0;
}
.custom-reviews-ui #rmrr-tabs li.is-current-tab{
	background: #2d2d2d!important;
	box-shadow: none;
	color:#ffffff;
}
.custom-reviews-ui #rmrr-tabs li span{
	border:0;
	background: #373737;
	font-family: sans-serif;
	font-size: 12px;
	color:#ffffff;
}
.custom-reviews-ui #rmrr-tabs li.is-current-tab span{
	background:#bc9539;/* selected tab color num */

	color:#ffffff;

}
/* review item */
.custom-reviews-ui .rmrr-item cite:after{
	width:30px!important;
	height:40px!important;
	background-size: 100% auto;
}

/*******/
.rmrrWidget-contains-reviews .rmrr-item{
	font-size: 16px;
	font-family: "Times New Roman";
	color:#232323;
	border-bottom: 1px solid #aec4c2;
	padding:60px 0px 50px;
}
.rmrrWidget-contains-reviews .rmrr-item blockquote{
	text-align: left;
    font-style: italic;
    line-height: 1.3em;

}
.rmrrWidget-contains-reviews .rmrr-item cite{
	font-size: 24px;
}
.rmrrWidget-contains-reviews .rmrr-item cite p{
	margin:0 0 5px!important;
	line-height: 0.65;
}
.rmrrWidget-contains-reviews .rmrr-item cite .dashicons{
	color:#bc9539;/* star color */
}
.rmrrWidget-contains-reviews .rmrr-item .rmrr-review-date{
	font-size: 14px;
	color:#7f7f7f;
}

@media only screen and (min-width: 767px) {
	.custom-reviews-ui #rmrr-ratingavgs{
		display: flex;
	}
	.custom-reviews-ui .avg-rating-box{
		margin-left: 30px;
	}
	.custom-reviews-ui .avg-rating-box:first-of-type{
		margin-left: 0;
	}
	.custom-reviews-ui .avg-rating-box.is-all .avgratingtitle{
		margin-bottom: 32px!important;
	}
	.custom-reviews-ui #rmrr-tabs{
		display: flex;
	}
	.custom-reviews-ui #rmrr-tabs li{
		margin-left: 30px;
	}
}
